*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

.logo{
width:120px;
}

.menu{
font-size:30px;
}

/* Hero */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:50px;
background:#f8f8f8;
}

.hero img{
width:300px;
}

.hero button{
background:#ff4d6d;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
}

/* Categories */

.categories{
padding:50px;
}

.category-container{
display:flex;
gap:20px;
}

.category{
flex:1;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
border-radius:10px;
color:white;
}

.watch{
background:orange;
}

.bag{
background:pink;
}

.shoes{
background:blue;
}
