*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

.logo{
width:120px;
}

.menu{
font-size:30px;
}

/* Hero */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:50px;
background:pink;
}

.hero img{
width:300px;
}

.hero button{
background:#ff4d6d;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
}

/* Categories */

.categories{
padding:50px;
}

.category-container{
display:flex;
gap:20px;
}

.category{
flex:1;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
border-radius:10px;
color:white;
}

.watch{
background:orange;
}

.bag{
background:#ff4d6d;
}

.shoes{
background:blue;
}

/* Products */

.products{
padding:50px;
}

.product-container{
display:flex;
gap:20px;
}

.card{
flex:1;
text-align:center;
padding:20px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
border-radius:10px;
}

.card img{
width:150px;
}

.card button{
background:black;
color:white;
border:none;
padding:10px 20px;
margin-top:10px;
}

/* Newsletter */

.newsletter{
background:#fff4f4;
padding:60px;
text-align:center;
}

.newsletter input{
padding:10px;
width:250px;
margin-top:10px;
}

.newsletter button{
padding:10px 20px;
background:#ff4d6d;
color:white;
border:none;
}

/* Responsive */

@media(max-width:992px){

.hero{
flex-direction:column;
text-align:center;
}

.product-container{
flex-direction:column;
}

.category-container{
flex-wrap:wrap;
}

}

@media(max-width:640px){

.category-container{
flex-direction:column;
}

.newsletter input,
.newsletter button{
display:block;
margin:10px auto;
}

}